<html>
  <head>
      <meta viewport='width=device-width, initial-scale=1.0'>
      <title>{{title}}</title>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

      <!-- NEARjs -->
      <script src="https://cdn.jsdelivr.net/gh/nearprotocol/near-api-js/dist/near-api-js.js"></script>
  </head>
  <body>
    {% block content %}
      Default content for the template
    {% endblock %}
    
    {% if not user %}
    <script src='/js/login.js' type="module"></script>
    {% else %}
    <script src='/js/logout.js' type="module"></script>
    {% endif %}
  </body>
</html>
